// Background Colors ----------------------------------------------------------
$bg-white: #fafbfc;
$bg-white-accent: #d5dbe6;

$bg-pale-white: #f2f4f5;
$bg-pale-white-accent: #ccd2de;

$bg-gray: #e8ebed;
$bg-gray-accent: #c8d6de;

$bg-black: #404040;
$bg-black-accent: #1a1a1a;

$bg-primary: #eff4fd;
$bg-primary-accent: #b8c4db;

$bg-focus: #7798d9;
$bg-focus-accent: #698ac7;

// Type Colors ----------------------------------------------------------------
$fg-white: #f0f0f0;
$fg-black: #292929;
$fg-primary: #6a8dd4;

// Misc Colors ----------------------------------------------------------------
$error-color: #b43535;
$warning-color: #de982f;
$success-color: #15a05b;

$shadow-color: hsla(0, 0, 6%, 0.16);
