// General --------------------------------------------------------------------
$border-radius: 3px;

// Header ---------------------------------------------------------------------
$header-height: 3rem;

// Inventory ------------------------------------------------------------------
$bucket-margin-right: 4px;
$bucket-margin-left: 4px;

// Type -----------------------------------------------------------------------
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.35;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-scale-0: 0.85rem;
$font-scale-1: 1rem;
$font-scale-2: 1.3rem;
$font-scale-3: 1.69rem;
$font-scale-4: 2.197rem;
$font-scale-5: 2.856rem;
$font-scale-6: 3.712rem;
$font-scale-7: 4.826rem;
$font-scale-7: 6.274rem;
$font-scale-8: 8.157rem;
$font-scale-9: 10.604rem;
